/******************************GMR Business Servicess********/

.inner_sec.bg_sky.sec_py.airports_in h2 {
    color: #013976;
}

.head_icon.businessservices {
    background: url(../img/home/icon-sprite-new.png?i=1) -255px -640px no-repeat;
}

.h_sec_businessServices {
    background: url(../img/home/business-services/gmr-bs.jpg) center center no-repeat;
    background-size: cover;
}

.foundation_grid.businessgrid>div {
    padding: 0 30px;
}

.foundation_grid.businessgrid>div p {
    padding: 15px 0 0 0;
}


/******************************GMR Business Servicess********/

.rao_img img,
.rao_img.bar_img img {
    max-width: 100%;
}

.nav-pills .nav-link {
    display: block;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #030303;
    background: #ccc;
    text-align: center;
}

.box.boxinvest div span.medium:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #429528;
    position: relative;
    top: -12px;
    margin: 0 6px 0 0;
}

.box.boxinvest div:first-child:after {
    content: "";
    background: #607ca3;
    height: 100%;
    width: 1px;
    display: block;
    position: absolute;
    top: 0;
    right: 45px;
}

.box.boxinvest p span {
    font-size: 1.5rem !important;
}

.box.boxinvest p {
    font-size: 2.5rem;
}

.box.boxinvest div span {
    position: relative;
    font-size: 0.9rem;
}

.box.boxinvest {
    border: none;
}

.box.boxinvest div {
    padding: 0;
    position: relative;
}

.date {
    padding: 20px 0 10px;
}

.price_delay {
    font-size: 0.7rem;
    padding: 20px 0;
}

.nse_bse.nse_bse_new a {
    width: 130px;
    background: #ccc;
    padding: 0.3rem 0.6rem;
    color: #030303;
    font-size: 1.1rem;
    border-radius: 0.25rem;
    border: none;
}

.nse_bse.nse_bse_new a.active {
    background: #f9a61a;
    color: #fff;
}

.col-8.nopadding {
    padding: 0 70px 0 0;
}

.pad20 {
    padding: 20px 5px !important;
}

.nopadding {
    padding: 0;
}

.rao_img img {
    position: relative;
    top: -60px;
}

.home_tab_list,
.sec_py.airports_in.home_tab {
    position: absolute;
    width: 100%;
}

.tab_padding {
    padding: 90px 10px 0;
}

.h_sec_about.h_sec_aboutdemo {
    background: url("../img/home/new3/home investor bg.jpg") no-repeat;
}

.h_sec_about {
    background: url(../img/home/section-02-bg.jpg) no-repeat;
    background-size: cover !important;
    background-position: center center !important;
    padding: 110px 0 0;
}

.home_tab_list {
    bottom: 0;
}

.tab_height {
    height: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #030303;
    background-color: #f9a61a;
}

.imgleft {
    width: 50%;
    float: left;
    padding: 0;
}

.quotes_style {
    position: relative;
    padding: 10px 35px 0 5px;
    text-align: center;
    font-style: italic;
}

.quotes_style:after,
.quotes_style:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 14px;
    font-style: italic;
}

.itlic-style {
    font-style: italic;
}

.quotes_style:before {
    content: "f10d";
    margin: -3px 0 0 -14px;
}

.quotes_style:after {
    content: "f10e";
    margin: 0;
}

.fp-slidesNav ul li a span::before,
.play-btn::after,
.rmlink::before,
.sidenav li a::after {
    content: "";
}

.imgleft img {
    padding: 15px 35px;
}

.vid_bg {
    background: url(../img/home/top-banner-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.play-btn {
    background: url(../img/home/icon-sprite-new.png) -430px -38px no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}


/* .tl_icons.five,
.tl_icons.four,
.tl_icons.one,
.tl_icons.seven,
.tl_icons.nine,
.tl_icons.six,
.tl_icons.three,
.tl_icons.two {
    background-image: url(../img/home/icon-sprite-new.png);
    background-repeat: no-repeat;
} */

.tl_icons.eight {
    background-image: url(../img/home/investor-icon.png);
    background-repeat: no-repeat;
}

.top_links {
    width: 100%;
    text-align: center;
    z-index: 10;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px 0 50px;
    background: rgba(255, 255, 255, 0.7);
}

.sidenav ul,
.top_links>ul {
    list-style-type: none;
    margin: 0;
}

.top_links>ul {
    display: inline-block;
    padding: 0;
}

.top_links>ul>li {
    display: block;
    float: left;
    padding: 0 30px;
    position: relative;
}

.top_links>ul>li>.tl_icons {
    margin-bottom: 3px;
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.top_links>ul>li>.tl_icons:hover {
    -webkit-box-shadow: 0 0 20px 1px #666;
    -moz-box-shadow: 0 0 20px 1px #666;
    box-shadow: 0 0 20px 1px #666;
}

.top_links>ul>li>.tl_icons.active {
    transform: scale(1.16);
    -webkit-box-shadow: 0 0 20px 1px #666;
    -moz-box-shadow: 0 0 20px 1px #666;
    box-shadow: 0 0 20px 1px #666;
    transition-delay: 0s !important;
}

.top_links>ul>li span {
    text-transform: uppercase;
    font-size: 0.64rem;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    color: #7b7b7b;
    line-height: 12px;
    letter-spacing: 0.03rem;
}

.top_links>ul>li>.tl_icons.active+span {
    color: #000;
}

.tl_icons.one {
    background-position: bottom;
    background-image: url(../img/ash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.tl_icons.nine {
    background-position: -22px -400px;
    background-color: #ed2124;
}

.tl_icons.two {
    background-size: cover;
    background-color: transparent;
    background-image: url(../img/transitmixture.png);
}

.tl_icons.three {
    background-size: contain;
    background-color: transparent;
    background-image: url(../img/bricks.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.tl_icons.four {
    background-size: cover;
    background-color: transparent;
    background-image: url('../img/contruction.jpg');
}

.tl_icons.five {
    background-color: transparent;
    background-image: url(../img/mate\ 180.jpg);
}

.tl_icons.six {
    background-size: cover;
    background-color: transparent;
    background-image: url('../img/crwalercrane.png');
}

.tl_icons.seven {
    background-size: cover;
    background-color: transparent;
    background-image: url('../img/mate180.png');
}

.sidenav {
    position: absolute;
    top: -91px;
    right: -200px;
    -webkit-transform: translate(0, 50vh);
    -moz-transform: translate(0, 50vh);
    transform: translate(0, 50vh);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sidenav.active {
    right: 0;
}

.sidenav ul {
    padding: 0;
    text-align: right;
}

.sidenav ul li {
    display: block;
}

.sidenav ul li:last-child {
    display: none;
}

.sidenav li a {
    display: block;
    position: relative;
    color: #030303;
    margin: 0 0 10px;
    padding: 0 20px 0 0;
}

.our-journey,
.our-journey:focus,
.our-journey:hover {
    color: #013976;
}

.sidenav li a span {
    display: inline-block;
    vertical-align: middle;
}

.sidenav li a .sn_txt {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    position: relative;
    right: -10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px;
}

.sidenav li a:hover .sn_txt {
    opacity: 1;
    right: 0;
}

.sn_icon {
    display: inline-block;
    width: 35px;
    height: 35px;
}

.sn_icon.one {
    background: url(../img/ash.jpg) -349px -147px no-repeat;
}

.sn_icon.two {
    background: url(../img/transitmixture.png) -349px -192px no-repeat;
}

.sn_icon.three {
    background: url(../img/blockandtiles.png) -349px -285px no-repeat;
}

.sn_icon.four {
    background: url(../img/home/icon-sprite-new.png) -349px -238px no-repeat;
}

.sn_icon.five {
    background: url(../img/home/icon-sprite-msa.png) -55px -43px no-repeat;
}

.sn_icon.six {
    background: url(../img/home/icon-sprite-nsa.png) -55px -75px no-repeat;
}

.sidenav li a::after {
    width: 13px;
    height: 1px;
    border-top: 1px solid #030303;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0 auto auto;
}

.getdown,
.our-journey {
    position: absolute;
    bottom: 20px;
}

.our-journey {
    background: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 1rem 1.7rem;
    right: 20px;
}

.getdown {
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto auto 0;
    background: url(../img/home/icon-sprite-new.png) -460px -159px no-repeat;
}

.play-btn,
.slide {
    position: relative;
}

.play-btn::after {
    border: 3px solid #f9a61a;
    border-radius: 50%;
    position: absolute;
    width: 35%;
    height: 35%;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation-name: playbtn;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes playbtn {
    0% {
        width: 35%;
        height: 35%;
        opacity: 0;
    }
    25% {
        width: 50%;
        height: 50%;
        opacity: 0;
    }
    50% {
        width: 75%;
        height: 75%;
        opacity: 1;
    }
    75% {
        width: 90%;
        height: 90%;
        opacity: 1;
    }
    100% {
        width: 90%;
        height: 90%;
        opacity: 0;
        top: -2px;
        left: -2px;
    }
}

.fullpage-wrapper {
    width: 100% !important;
    transform: none !important;
}

.fp-section {
    background: #ececec85 !important;
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}

.fp-section.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.h_sec_foundation {
    background: url(../img/home/foundation-bg.jpg) center center no-repeat;
    background-size: cover;
}

.head_icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.head_icon.foundation {
    background: url(../img/home/icon-sprite-new.png) -252px -306px no-repeat;
}

.foundation_grid a {
    color: #030303;
}

.foundation_grid {
    margin-top: 100px;
}

.business_grid,
.sports_grid {
    margin-top: 30px;
}

.head_icon.business {
    background: url(../img/home/icon-sprite-new.png) -252px -474px no-repeat;
}

.h_sec_business {
    background: url(../img/home/new/other-businesses-bg.jpg) center center no-repeat;
    background-size: cover;
}

.h_sec_sports {
    background: url(../img/home/sports-bg.jpg) center center no-repeat;
    background-size: cover;
}

.head_icon.sports {
    background: url(../img/home/icon-sprite-new.png) -252px -389px no-repeat;
}

.h_sec_urban {
    background: url(../img/home/new/urban-infrastructure-bg.jpg) center center no-repeat;
    background-size: cover;
}

.head_icon.urban {
    background: url(../img/home/icon-sprite-new.png) -252px -306px no-repeat;
}

.h_sec_transport {
    background: url(../img/home/transportation-bg.jpg) center center no-repeat;
    background-size: cover;
}

.head_icon.transport {
    background: url(../img/home/icon-sprite-new.png) -252px -220px no-repeat;
}

.h_sec_energy {
    background: url(../img/home/energy-bg.jpg) center center no-repeat;
    background-size: cover;
}

.head_icon.energy {
    background: url(../img/home/icon-sprite-new.png) -252px -134px no-repeat;
}

.h_sec_airport {
    background: url(../img/home/airports-bg.jpg) center center no-repeat;
    background-size: cover;
}

.head_icon.airports {
    background: url(../img/home/icon-sprite-new.png) -252px -49px no-repeat;
}

.grid_general {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
    -moz-box-shadow: 0 20px 20px transparent;
    -webkit-box-shadow: 0 20px 20px transparent;
    box-shadow: 0 20px 20px transparent;
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.grid_general:hover {
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.redcap {
    background: 0 0;
    border-radius: 0;
    padding: 60px 15px;
}

.sec2_grid2 {
    background: url(../img/home/new/chairman-speak-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 35px 25px;
}

.fs-12p {
    font-size: 12px;
}

.chairman_img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    display: block;
    width: 210px;
}

.sec2_grid3 {
    background: 0 0;
    padding: 50px 30px;
}

.sec2_grd4 {
    background: 0 0;
    padding: 0;
}

.sec2_grd4 figure {
    background: 0 0 !important;
    padding: 0 !important;
    border-radius: 6px;
}

.sec2_grd5 {
    background: #013976;
    padding: 1.5rem;
}

.year,
.yearcap {
    padding-left: 6rem;
}

.sec2_grid2 .cbottom {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.h_sec_about .fp-tableCell {
    height: auto !important;
}

.bannersgmr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}

#slide1 {
    background-size: cover;
}

#slide2 {
    background-size: cover;
}

#slide3 {
    background-size: cover;
}

#slide4 {
    background-size: cover;
}

#slide5 {
    background-size: cover;
}

#slide6 {
    background-size: cover;
}

#slide7 {
    background-size: cover;
}

#slide8 {
    background-size: cover;
}

#slide9 {
    background-size: cover;
}

#slide10 {
    background-size: cover;
}

.year {
    color: #c9c7c8;
    font-size: 6.4rem;
    line-height: 6.4rem;
}

.rmlink,
.rmlink:focus,
.rmlink:hover {
    color: #013976;
}

.yearcap {
    font-size: 3rem;
}

.readmore_content {
    background: rgba(201, 199, 200, 0.6);
    padding: 2rem 2rem 2rem 6rem;
}

.rmholder {
    padding-left: 6rem;
}

.rmlink {
    display: block;
    position: relative;
    font-style: italic;
    font-size: 1.1rem;
    padding: 0.5rem 0;
}

.rmlink::before {
    width: 250px;
    height: 1px;
    border-top: 2px solid #f9a61a;
    position: absolute;
    top: 0;
    left: 0;
}

.readmore_content {
    display: none;
}

.rmlink .more {
    display: inline-block;
}

.rmlink .less,
.rmlink.active .more {
    display: none;
}

.rmlink.active .less {
    display: inline-block;
}

.banners {
    margin-top: 150px;
}

.fp-slidesContainer .fp-tableCell {
    vertical-align: top;
}

.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: auto;
    bottom: 50px;
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pageLoader,
.vidbox {
    top: 0;
    overflow: hidden;
}

.fp-controlArrow.fp-prev {
    width: 65px;
    left: 15px;
    border-width: 0;
    border-color: transparent;
    background: url(../img/home/icon-sprite-new.png) -331px -399px no-repeat;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 0;
    border-color: transparent;
    background: url(../img/home/icon-sprite-new.png) -331px -332px no-repeat;
}

.fp-next.hideImp,
.fp-prev.hideImp {
    display: none !important;
}

.fp-slidesContainer.slow {
    -o-transition: all 3.5s ease !important;
    -moz-transition: all 3.5s ease !important;
    -webkit-transition: all 3.5s ease !important;
    transition: all 3.5s ease !important;
}

.pageLoader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(../img/home/gmr-logo.png) center center no-repeat #fff;
    left: 0;
    z-index: 999;
}

.fp-tableCell .fs-3 {
    text-align: center !important;
}

.fs-3 {
    text-align: justify;
}

.closevid,
.vidbox {
    position: absolute;
}

.sec2_anim1.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.sec2_anim2.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.sec2_anim3.animated {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

.sec2_anim4.animated {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.sec2_anim5.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.vidbox {
    background: #000;
    border: 0 solid #f68121;
    width: 0%;
    height: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.vidbox video {
    width: 100%;
    height: auto;
}

.vidbox.active {
    width: 100%;
    height: 100%;
    border: 5px;
}

.closevid {
    display: none;
    color: #ed2124;
    font-size: 1rem;
    padding: 10px;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background: 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.invrel {
    padding: 20px;
    color: #fff;
}

.nse_bse>a {
    display: inline-block;
    color: #637293;
    font-size: 1.5rem;
}

.nse_bse>a.active {
    color: #f9a61a;
    border-bottom: 1px solid #f9a61a;
}

.box {
    border: 1px solid #386093;
    border-radius: 3px;
    flex-direction: row;
    margin-top: 10px;
    display: none;
}

.box.active {
    display: flex;
}

.box>div {
    width: 50%;
    padding: 10px 15px;
}

.box>div>p {
    font-size: 2rem;
    margin: 10px 0 0;
}

.box>div:first-child {
    border-right: inherit;
}

.match_four,
.match_three,
.match_two {
    position: relative;
}

.business_grid a {
    margin: 0 -10px;
}

.business_grid a:nth-child(2) {
    top: 35px;
}

.business_grid a:nth-child(3) {
    top: -20px;
    left: -10px;
}

.business_grid a:nth-child(4) {
    top: 96px;
    left: -18px;
}

.business_grid a:nth-child(5) {
    top: -35px;
    left: -42px;
}

.page_indicator {
    position: fixed;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    background: rgba(1, 57, 118, 0.3);
    z-index: 1000;
}

.fillit {
    width: 11.1111111111%;
    height: 100%;
    background: #013976;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.fp-slidesNav.bottom {
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    height: 90px;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    display: none;
}

.explorea,
.fp-slidesNav ul li a.active span::before,
.fp-slidesNav ul li:hover a span::before,
.fp-slidesNav.bottom.active {
    display: block;
}

.fp-slidesNav ul li {
    margin: 0 7px;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.fp-slidesNav ul li a span {
    position: absolute;
    z-index: 1;
    height: 25px !important;
    width: 35px !important;
    background: 0 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto auto 0 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 0 !important;
    border: 0 !important;
    border-left: 2px solid #555 !important;
}

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a span,
.fp-slidesNav ul li:hover a.active span {
    height: 60px !important;
    width: 35px !important;
    border-left: 2px solid #ed1c24 !important;
    margin: auto auto 0;
}

.fp-slidesNav ul li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    border-radius: 0;
}

.fp-slidesNav ul li a span::before {
    position: absolute;
    left: -13px;
    color: #000;
    font-size: 12px;
    display: none;
    white-space: nowrap;
    top: -20px;
    text-align: center;
    font-weight: 700;
}

.fp-slidesNav ul li:nth-child(1) a span::before {
    content: "1978";
}

.fp-slidesNav ul li:nth-child(2) a span::before {
    content: "1996";
}

.fp-slidesNav ul li:nth-child(3) a span::before {
    content: "2001";
}

.fp-slidesNav ul li:nth-child(4) a span::before {
    content: "2003";
}

.fp-slidesNav ul li:nth-child(5) a span::before {
    content: "2006";
}

.fp-slidesNav ul li:nth-child(6) a span::before {
    content: "2011";
}

.fp-slidesNav ul li:nth-child(7) a span::before {
    content: "2014";
}

.fp-slidesNav ul li:nth-child(8) a span::before {
    content: "2016";
}

.fp-slidesNav ul li:nth-child(9) a span::before {
    content: "2017";
}

.fp-slidesNav ul li:nth-child(10) a span::before {
    content: "2018";
}

.fp-slidesNav ul li:nth-child(11) a span::before {
    content: "2020";
}

.fp-slidesNav ul li:nth-child(12) {
    display: none !important;
}

.fp-slidesNav ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto auto 0;
}

.bitxt,
.bitxt.one {
    bottom: 100px;
}

.foundation_grid a {
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    cursor: auto;
}

.foundation_grid a:hover {
    top: -10px;
}

.sidenav_trig {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../img/home/back.png) center center no-repeat rgba(1, 57, 118, 0.6);
    background-size: 24px;
    border-radius: 50% 0 0 50%;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -25px;
}

.sidenav_trig.active {
    display: block;
}

.business_grid a {
    position: relative;
}

.bitxt,
.business_icons {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

.business_icons {
    top: 100px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.business_icons.active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.bitxt {
    color: #333;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

.business_icons.one {
    top: 100px;
}

.business_icons.two {
    top: 110px;
}

.business_icons.three {
    top: 135px;
}

.business_icons.four {
    top: 150px;
}

.bitxt.two {
    bottom: 200px;
}

.bitxt.three {
    bottom: 115px;
}

.bitxt.four {
    bottom: 130px;
}

.sittabs {
    display: none !important;
}

.landscapemode {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: #013976;
    text-align: center;
    z-index: 11111;
}

.landscapemode.active {
    display: block;
}

.home-spot-bot {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 1899px) {
    .our-journey {
        font-size: 1.1rem;
    }
    .grid_general {
        height: 300px;
    }
    .yearcap {
        font-size: 2.5rem;
    }
    .chairman_img {
        width: 150px;
    }
    .sec2_grd5 .col-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .box>div>p {
        font-size: 1.5rem;
        margin: 0;
    }
    .invrel {
        padding: 0 20px 20px;
    }
    .business_grid a img {
        width: calc(100% - 120px);
    }
    .business_grid a {
        margin: 0 -35px;
    }
    .foundation_grid {
        margin-top: 30px;
    }
    .redcap>p {
        margin: 0;
        line-height: 18px;
    }
    .business_grid a .business_icons img {
        width: auto;
        max-width: 100%;
    }
    .business_grid a .business_icons.one img {
        max-width: 100px;
    }
    .business_grid a .business_icons.two img {
        max-width: 70px;
    }
    .business_grid a .business_icons.three img {
        max-width: 120px;
    }
    .business_grid a .business_icons.four img {
        max-width: 125px;
    }
    .business_icons.one {
        top: 60px;
    }
    .business_icons.four,
    .business_icons.three,
    .business_icons.two {
        top: 85px;
    }
    .bitxt.one {
        bottom: 60px;
    }
    .bitxt.two {
        bottom: 120px;
    }
    .bitxt.three {
        bottom: 90px;
    }
    .bitxt.four {
        bottom: 80px;
    }
    .bitxt {
        font-size: 18px;
        line-height: 20px;
    }
    .logo_nav {
        height: 85px;
    }
}

@media screen and (max-width: 1599px) {
    .yearcap {
        font-size: 2.2rem;
    }
    .grid_general {
        height: 280px;
    }
    .invrel p {
        margin: 0;
    }
    .box>div {
        padding: 6px 10px;
    }
    .box>div>p {
        font-size: 1.3rem;
    }
    .orangelink {
        font-size: 1rem;
    }
    .head_icon {
        margin: 0 auto -10px;
    }
    .logo_nav {
        height: 85px;
    }
}

@media screen and (max-width: 1399px) {
    .tab_padding {
        padding: 40px 10px 0;
    }
    .tl_icons.nine {
        background-position: -27px -404px;
    }
    .menu_Style {
        font-size: 0.65rem;
    }
    .yearcap {
        font-size: 2rem;
    }
    .page_indicator {
        height: 6px;
    }
    .grid_general {
        height: 240px;
    }
    .sec2_grd4 figure {
        padding: 1rem 1.5rem;
        margin: 0 0 6px;
    }
    .sec2_grd4 {
        padding: 0;
    }
    .sec2_grd5 {
        padding: 1rem;
    }
    .sec2_grd5 .col-5 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .invrel {
        padding: 0 10px 20px;
    }
    .nse_bse {
        margin: 5px 0 0;
    }
    .nse_bse>a {
        font-size: 1.2rem;
    }
    .sec2_grid3 {
        padding: 60px 20px;
    }
    .sec2_grid2 {
        padding: 20px;
    }
    .sec2_grid2 .cbottom {
        bottom: 25px;
        left: 20px;
    }
    .business_grid a img {
        width: calc(100% - 150px);
    }
    .business_grid a {
        margin: 0 -80px;
    }
    .foundation_grid {
        margin-top: 15px;
    }
    .head_icon h1.my-2 {
        margin-bottom: 0.5rem !important;
    }
    .year {
        font-size: 5rem;
        line-height: 5rem;
    }
    .our-journey {
        padding: 0.3rem 1rem;
        font-size: 0.9rem;
    }
    .logo_nav {
        height: 66px;
        padding: 12px 25px 10px 13px;
        width: 200px;
    }
    .hamburger-box,
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 30px;
    }
    .hamburger-inner::after {
        width: 15px;
    }
    .logo_a {
        width: 80px;
    }
    .logo_nav>span {
        padding: 0 20px;
    }
    .hamburger--spin.is-active .hamburger-inner::after {
        width: 30px;
    }
    .search_btn,
    .top_links>ul>li>.tl_icons {
        width: 35px;
        height: 35px;
    }
    .nav_one>li>a,
    .nav_two>li>a {
        font-size: 1rem;
    }
    .search_btn {
        background-position: -349px -59px;
    }
    .bootstrap-select .btn {
        height: 35px;
    }
    .search_container .form-control {
        height: 47px;
    }
    .fp-slidesNav ul {
        top: 67px;
    }
    .business_grid {
        margin-top: 0;
    }
    .business_grid a .business_icons.one img {
        max-width: 45px;
    }
    .business_grid a .business_icons.two img {
        max-width: 60px;
    }
    .business_grid a .business_icons.three img {
        max-width: 100px;
    }
    .business_grid a .business_icons.four img {
        max-width: 70px !important;
    }
    .business_icons.one {
        top: 55px;
    }
    .business_icons.four,
    .business_icons.three,
    .business_icons.two {
        top: 60px;
    }
    .bitxt.one {
        bottom: 50px;
    }
    .bitxt.two {
        bottom: 120px;
    }
    .bitxt.three {
        bottom: 75px;
    }
    .bitxt.four {
        bottom: 70px;
    }
    .bitxt {
        font-size: 16px;
        line-height: 18px;
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .tab_padding {
        padding: 40px 10px 0;
    }
    .nav-pills .nav-link {
        padding: 0.5rem 0.2rem;
        font-size: 0.7rem;
    }
    .box.boxinvest p {
        font-size: 2rem;
    }
    .box.boxinvest div:first-child:after {
        right: 25px;
    }
    .box {
        margin-top: 5px;
    }
    .box>div {
        padding: 4px 10px;
    }
    .box>div>p {
        font-size: 1.1rem;
    }
    .sec2_grid2,
    .sec2_grid3 {
        padding: 20px 10px;
    }
    .sec2_grid2 .cbottom {
        left: 10px;
    }
    .sports_grid {
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .quotes_style {
        padding: 7px 0 0;
    }
    .imgleft img {
        padding: 30px 10px;
    }
    .tab_padding {
        padding: 60px 0 0;
    }
    .row.nomargin.tab_padding {
        margin: 0;
        padding: 60px 60px 0 20px;
    }
    .rao_img.bar_img img {
        max-width: 100%;
        position: static;
        padding: 0 84px 0 0;
    }
    .tab_height .gridpad {
        max-width: 25%;
        flex: 0 0 23%;
    }
    .box.boxinvest div:first-child:after {
        right: 30px;
    }
    .box.boxinvest p span {
        font-size: 1rem !important;
    }
    .box.boxinvest p {
        font-size: 18px;
    }
    .rmholder,
    .year,
    .yearcap {
        padding-left: 50px;
    }
    .grid_general {
        height: 350px !important;
    }
    .chairman_img {
        width: 120px !important;
    }
}

@media screen and (max-width: 767px) {
    .pageLoader {
        background-size: contain;
    }
    /****************code by epm gmr business services***/
    .h_sec_businessServices .head_icon {
        margin: 80px auto -10px;
    }
    .h_sec_businessServices .vh100 {
        height: auto !important;
    }
    /****************code by epm gmr business services ends***/
    .rao_img.bar_img,
    .top_links,
    .top_links>ul>li {
        text-align: center;
    }
    .h_sec_business .fp-tableCell,
    .h_sec_foundation .fp-tableCell {
        vertical-align: top;
    }
    .imgleft img {
        padding: 0 25%;
        max-width: 100% !important;
    }
    .sec2_grid3 {
        padding: 38px 22px !important;
        margin-top: 20px;
    }
    .sec2_grd5 .col-7 img {
        display: block;
    }
    .col-7.graph_image_formobile {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 0 10px;
    }
    .tab_padding .row {
        margin: 0;
    }
    .tab_padding h4.fs-3.medium.blue {
        font-size: 13px;
    }
    .h_sec_about.h_sec_aboutdemo.fp-auto-height {
        height: 100vh !important;
    }
    .rao_img.bar_img img {
        max-width: 60% !important;
    }
    .col-6.tab_padding {
        max-width: 100%;
    }
    .col-8.nopadding {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
    }
    .rao_img img {
        width: 180px;
        position: relative;
        top: 5px;
        float: none !important;
    }
    .home_tab_list,
    .rao_img.bar_img img,
    .sec_py.airports_in.home_tab {
        position: static;
    }
    .col-4.nopadding.rao_img {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    .pad20 {
        padding: 2px 10px !important;
        line-height: inherit !important;
        font-size: 15px;
    }
    .quotes_style {
        padding: 0 0 0 10px;
    }
    .home_tab_list li {
        max-width: 50%;
        flex: 0 0 50%;
        margin: 0 0 10px;
    }
    .home_tab_list li a {
        height: 50px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .tab_padding {
        padding: 10px 0;
    }
    .home_tab_list {
        width: 100%;
        padding: 75px 0 0;
        margin-bottom: 0 !important;
    }
    .box.boxinvest div:first-child:after {
        right: 20px;
    }
    .box.boxinvest p {
        font-size: 1.2rem;
    }
    .box.boxinvest p span {
        font-size: 1rem !important;
    }
    .tab_padding .row .col-6 {
        max-width: 100%;
        width: 100%;
        padding: 0;
        flex: 0 0 100%;
    }
    .imgleft .redcap {
        max-width: 100% !important;
    }
    .sidenav {
        display: none;
    }
    .vid_bg {
        padding: 0 20px;
    }
    .banners {
        margin-top: 100px;
        padding: 0 10px;
    }
    .year,
    .yearcap {
        padding-left: 0;
    }
    .year {
        color: #c9c7c8;
        font-size: 36px;
        line-height: 36px;
    }
    .yearcap {
        font-size: 20px;
    }
    .readmore_content {
        padding: 10px;
    }
    .rmholder {
        padding-left: 0;
    }
    .overlay {
        padding: 80px 10px 0;
        left: -200px;
    }
    .top_links {
        width: 100%;
        z-index: 10;
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 12px 0 5px;
        background: rgba(255, 255, 255, 0.7);
    }
    .top_links>ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .top_links>ul>li {
        padding: 0 4px !important;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .top_links>ul>li>.tl_icons {
        display: inline-block;
    }
    .top_links>ul>li span {
        width: 50px;
        height: 11px;
        bottom: 0;
        left: 0;
        top: -25px;
        right: 0;
        margin: 0 auto auto;
        display: none;
        background: #fff;
        letter-spacing: 0;
    }
    .top_links>ul>li:nth-last-child(1) span {
        width: 60px;
        left: -25px;
    }
    .top_links>ul>li:nth-last-child(2) span,
    .top_links>ul>li:nth-last-child(4) span {
        width: 60px;
        left: -8px;
        top: -23px;
    }
    .top_links>ul>li:nth-last-child(5) span {
        width: 80px;
        left: -15px;
    }
    .top_links>ul>li:nth-last-child(7) span {
        width: 50px;
    }
    .top_links>ul>li>.tl_icons.active+span {
        display: block;
    }
    .dropd_top {
        display: none;
    }
    .search_container {
        right: 20px !important;
    }
    .closevid,
    .vidbox video {
        top: 0;
        right: 0;
    }
    .vidbox video {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .our-journey {
        padding: 0.3rem 1rem;
        font-size: 0.7rem;
        right: 10px;
        bottom: 70px;
    }
    .fp-controlArrow {
        width: 35px;
        height: 35px;
        bottom: 100px;
    }
    .fp-controlArrow.fp-next {
        background-position: -186px -187px;
        background-size: 300px;
        right: 10px;
    }
    .fp-controlArrow.fp-prev {
        width: 35px;
        left: 10px;
        background-position: -186px -224px;
        background-size: 300px;
    }
    .fp-slidesNav.bottom {
        bottom: 59px;
    }
    .fp-slidesNav ul li {
        margin: 0 5px;
    }
    .vid_bg figure>img {
        max-width: 70%;
    }
    .page_indicator {
        height: 2px;
    }
    .sec2_grid1 {
        -moz-box-shadow: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    .sec2_grid1 img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sec2_grid1 .redcap {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px;
    }
    .grid_general {
        height: auto;
    }
    .sec2_grd4 figure {
        margin: 0 0 5px;
        padding: 10px 50px;
    }
    .sec2_grd4 p {
        margin: 0;
    }
    .getdown {
        display: none;
    }
    .overlay {
        width: 200px !important;
    }
    .sec2_grd5 .col-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .h_sec_about {
        padding: 0;
    }
    .sec2_grd5 {
        padding: 10px;
        margin: 80px 0 20px;
    }
    .sec2_grid2 {
        padding: 10px;
        height: 260px;
    }
    .h_sec_business .vh100,
    .h_sec_foundation .vh100 {
        height: auto !important;
    }
    .invrel {
        padding: 0 0 10px;
    }
    .sec2_grid2 .cbottom {
        left: 10px;
    }
    .sec2_grd4 {
        padding: 0;
    }
    .sec2_grid3 {
        margin-bottom: 80px;
    }
    .sports_grid {
        margin-top: 0;
    }
    .sports_grid .col-2 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .head_icon+h1 {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }
    .obmobile {
        padding: 10px 70px 0;
    }
    .h_sec_business {
        padding: 0;
    }
    .business_grid {
        margin-top: 20px;
        padding: 0 20px;
    }
    .business_grid a {
        margin: 0 auto;
        width: 280px;
        display: block !important;
    }
    .business_grid a img {
        width: calc(100% - 0px);
    }
    .bitxt {
        font-size: 20px;
        line-height: 20px;
    }
    .business_icons.one {
        top: 65px;
    }
    .business_icons.four,
    .business_icons.three {
        top: 90px;
    }
    .business_grid a .business_icons.one img,
    .business_grid a .business_icons.two img {
        max-width: 80px;
    }
    .business_grid a .business_icons.four img,
    .business_grid a .business_icons.three img {
        max-width: 140px;
    }
    .bitxt.one {
        bottom: 120px;
    }
    .bitxt.two {
        bottom: 130px;
    }
    .bitxt.three {
        bottom: 135px;
    }
    .bitxt.four {
        bottom: 100px;
    }
    .h_sec_foundation {
        padding: 0;
    }
    .footer {
        background: #fff;
        padding: 20px 10px 80px;
        position: relative !important;
        width: 100%;
        height: auto;
        bottom: inherit !important;
        left: inherit !important;
    }
    .top_links>ul>li>.tl_icons.active {
        transform: scale(1);
    }
    .h_sec_business .head_icon,
    .h_sec_foundation .head_icon {
        margin: 80px auto -10px;
    }
    .vid_bg {
        background: url(../img/home-mobile/home-mobile-banner-02-bg.jpg) center center no-repeat;
    }
    .sidenav_trig {
        display: none;
    }
    .chairman_img {
        width: 130px;
    }
    .fs-4 {
        font-size: 11px;
    }
    .imgleft {
        width: 100%;
        float: left;
        padding: 5px 0;
    }
    .btn_refresh {
        float: right !important;
        right: 16px;
        top: -35px;
    }
    #UP1 img {
        width: 100% !important;
    }
    .business_grid a:nth-child(3) {
        top: 50px;
        left: 0px;
    }
}

@media screen (min-width: 1280px) and (max-width: 1024px) {
    .bluebox {
        height: 380px;
    }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .chairman_img {
        width: 136px;
    }
}

@media screen and (max-width: 1280px) {
    .chairman_img {
        width: 136px;
    }
}

@supports (-ms-ime-align: auto) and (min-width: 1280px) and (max-width: 1024px) {
    .bluebox {
        height: 338px;
    }
}

.top_links>ul>li>.tl_icons.active+span {
    height: unset !important;
    display: inline-table !important;
}