.ob_box.servicebusiness {
    background: #ed2124
}

.gmrservicebusiness .op-bg-blck {
    background-color: rgba(0, 0, 0, 0.8)
}

.ob_box.servicebusiness span {
    background: url(/img/home/icon-sprite-new.png) -165px -640px no-repeat
}

.ob_box.active.servicebusiness span {
    background: url(/img/home/icon-sprite-new.png) -80px -640px no-repeat
}

.ob_box.active.servicebusiness {
    background: #fff
}

.gmrservicebusiness ul.top_cont_list>li {
    box-shadow: 0 3px 3px #ccc
}

.logoslickcarousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.logoslickcarousel .slick_slid {
    width: 200px;
    height: auto;
    box-shadow: 0 1px 1px #f2f2f2;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 10px 10px
}

.logoslickcarousel .slick_slid img {
    max-width: 100%
}

.ob_slick.ob_slickNew {
    width: 100%
}

.gemspanel {
    display: flex;
    align-items: center
}

.gemspanel img {
    margin-right: 25px
}

.inner_sec.bg_sky.sec_py.airports_in h2 {
    color: #013976
}

.other_businesses_slick.logoslickcarousel .slick_slid img {
    margin: 0 auto;
    max-height: 100px
}

.new_fs_bg.newfsbgforbusiness {
    background: url(/img/home/business-services/factsheet-business.png?i=1) top center no-repeat;
    background-size: cover;
    height: 260px;
    margin: 100px 0
}

.new_fs_bg.newfsbgforbusiness .new_fs_grid {
    width: 16.5%
}

.new_fs_bg.newfsbgforbusiness .new_fs_grid .numb {
    top: 110px
}

.new_fs_bg.newfsbgforbusiness .new_fs_grid .txts {
    bottom: 0;
    left: 40px
}

.newfsbgforbusiness .new_fs_grid.first .numb {
    left: 40px
}

.newfsbgforbusiness .new_fs_grid.second .numb {
    left: 25px
}

.newfsbgforbusiness .new_fs_grid.three .numb {
    left: 15px
}

.newfsbgforbusiness .new_fs_grid.three .numb.plussign {
    left: 60px !important
}

.newfsbgforbusiness .new_fs_grid.four .numb {
    left: 8px
}

.newfsbgforbusiness .new_fs_grid.five .numb {
    left: 8px
}

.fact_sheetNew .roudnwrap_padding .roundwrap {
    text-align: center !important
}

.fact_sheetNew .round_num {
    height: auto;
    top: 100px
}

.fact_sheet.fact_sheetNew .roundholder {
    margin: 0 0 40px 0
}

.videopopupstyle .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%
}

.videopopupstyle button.close {
    text-shadow: none;
    color: #000;
    z-index: 1;
    background: #fff;
    width: 40px;
    height: 40px;
    display: block;
    opacity: 1;
    position: absolute;
    right: 0;
    border-radius: 100%;
    font-size: 30px;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 6px 0
}

.videopopupstyle .modal-content {
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent
}

.videopopupstyle .modal-header {
    border: none;
    padding: 0;
    min-height: inherit
}

.videopopupstyle .modal-body {
    padding: 0
}

.videostyle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #000
}

.group-quotes:after,
.group-quotes:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    font-style: italic
}

.mb-slck .slick-next,
.mb-slck .slick-prev {
    background: url(/img/home/icon-sprite.png) -467px -250px no-repeat
}

.group-quotes:before {
    content: "f10d";
    margin: 0 0 0 -16px
}

.group-quotes:after {
    content: "f10e";
    margin: 0 0 0 5px
}

.mb-slck .slick-prev:before,
.slick-next:before {
    font-family: inherit;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: -5px;
    left: -3px;
    opacity: 0.75;
    color: #013976;
    content: "" !important
}

.mb-slck .slick-prev {
    left: -30px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg)
}

.mb-slck .slick-next,
.mb-slck .slick-prev {
    width: 25px;
    height: 42px;
    margin: -21px 0 0
}

.mb-slck .slick-next {
    right: -30px
}

.group-quotes {
    font-style: italic
}

.blue-shadow {
    box-shadow: inset 0 0 10px 2px #003975 !important
}

.yellow-shadow {
    box-shadow: inset 0 0 10px 2px #faa61a !important
}

.red-shadow {
    box-shadow: inset 0 0 10px 2px #ed1c24 !important
}

.bg-grey-cg {
    background-color: #ccc;
    padding: 10px
}

.mc_box_grey {
    background: #ccc !important
}

.bg-white-hial {
    background: #fff !important
}

.bg-grey-hial {
    background: #ccc !important
}

.bg-white-goa {
    background: #fff !important
}

.bg-grey-goa,
.bg-grey-greece {
    background: #ccc !important
}

.bg-white-greece,
.bg-white-trans {
    background: #fff !important
}

.bg-grey-trans {
    background: #ecf8fc !important
}

.bg-peach-trans {
    background: #f8dad3 !important
}

.bg-white-faqs {
    background: #fff !important
}

.thrust_grid a {
    cursor: auto
}

.trans_py {
    padding: 20px 0
}

.table-tab-ggial .nav-link.active {
    background-color: #f7941d !important
}

.table-tab-ggial li {
    width: 70px
}

.table-tab-ggial {
    float: right;
    width: auto
}

ul.nav.nav-pills {
    position: relative;
    z-index: 9
}

.groupholding_video video {
    width: 100%;
    display: block
}

.disp_tb_cl {
    display: table;
    width: 100%
}

.disp_tb_cl.padbx_L {
    padding: 0 0 0 30px
}

.gridpad.gridpad_style,
.roudnwrap_padding .roundwrap {
    padding: 0 30px
}

.land_car.contact_bx_height {
    display: table-cell;
    vertical-align: middle;
    height: 170px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border: 1px solid transparent
}

.select_bx,
span.pres_view_web.btn.orangebtn.bold:after {
    display: none
}

.land_car.contact_bx_height:hover {
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #f9a61a
}

.padimg {
    position: relative;
    left: -30px
}

.nomargin {
    margin: 0 -30px
}

.param_logo img {
    width: 130px
}

span.pres_view_web.btn.orangebtn.bold {
    color: #030303
}

.param_logo {
    position: absolute;
    top: 10px;
    left: 10%
}

.overview_margin {
    margin: 3rem 0 0
}

.quotes_style,
.quotes_style-one {
    position: relative
}

.quotes_style-one-vision:after,
.quotes_style-one-vision:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 16px;
    font-style: italic
}

.quotes_style-one-vision:before {
    content: "f10d";
    margin: 0 0 0 10px;
    left: 0
}

.quotes_style-one-vision:after {
    content: "f10e";
    margin: 0 0 0 5px
}

.quotes_style-one:after,
.quotes_style-one:before {
    font-family: FontAwesome;
    position: absolute;
    margin: 0
}

.quotes_style-one:before {
    content: "f10d";
    font-size: 16px;
    font-style: italic;
    left: 0
}

.quotes_style-one:after {
    content: "f10e";
    font-size: 16px;
    font-style: italic
}

.quotes_style:after,
.quotes_style:before {
    font-family: FontAwesome;
    position: absolute;
    margin: 0 0 0 5px;
    font-style: italic;
    font-size: 16px
}

.quotes_style:before {
    content: "f10d";
    left: 0
}

.quotes_style:after {
    content: "f10e"
}

.media_inner {
    background: #fff;
    padding: 40px 25px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #fff;
    position: relative;
    margin: -90px 0 0;
    font-family: gilroymedium
}

.cont_addres_list li a,
.media_inner h2,
.media_inner h3,
.media_inner p span {
    font-family: gilroybold
}

.link {
    color: #14477d
}

ul.media_inner_cont_list {
    margin: 20px 0 0;
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
    color: #333
}

.Addr span,
.media_inner a {
    font-weight: 700
}

ul.media_inner_cont_list li {
    list-style: decimal;
    padding: 5px 10px
}

.media_inner p {
    margin: 25px 0 !important;
    font-size: 16px;
    line-height: 26px
}

table.media_table {
    margin: 0 auto;
    width: 100% !important;
    border: none !important;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 1px 1px #f2f2f2
}

table.media_table td {
    padding: 10px;
    font-size: 14px
}

.media_inner h2 {
    font-size: 1.4rem;
    text-align: center;
    padding: 20px 0;
    margin: 0
}

.media_inner h3 {
    font-size: 18px;
    margin: 0 !important
}

.media_inner a {
    color: #14477d;
    text-decoration: underline
}

.sec_py.media_inner_Section {
    padding: 0 0 40px
}

.mapanimation {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    position: absolute;
    width: 100%;
    top: 0
}

.mc_box a {
    color: #000
}

.cbluebg::after {
    content: "";
    position: absolute;
    top: 30%;
    right: -60px;
    border: 30px solid transparent;
    border-left-color: #013976;
    margin-top: -30px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out
}

.cbluebg.arrow_pos_change::after {
    top: 70%
}

.color {
    color: #c7d1db
}

.active_white {
    color: #fff
}

.zoomactive {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.slt_dropdown {
    background: #fff;
    box-shadow: 1px 2px 6px #ccc;
    text-align: center
}

.slt_map img {
    max-width: 100%
}

select#presence_list {
    background: #d7d7d7;
    border: none;
    padding: 0 16px;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    position: static;
    top: 5px;
    left: 10px;
    margin: 10px 0;
    text-align: center
}

.slt_cont {
    padding: 20px 15px;
    text-align: left
}

.nav-pills .nav-link,
.new_fs_grid,
.ob_box,
.right_link,
.round_num,
.vbground {
    text-align: center
}

.blkclr {
    color: #023976
}

.slt_cont h1 {
    font-size: 24px;
    margin: 0
}

.orangeclr {
    color: #f9a61b;
    padding: 20px 0 0
}

.darkorange,
.slt_cont .darkorange h3 span {
    color: #f68121
}

.transport h1 {
    padding: 0 0 20px !important
}

.energy .redclr,
.transport .orangeclr {
    padding: 0 !important
}

.urban h1 {
    padding: 0 0 20px !important
}

.slt_cont .orangeclr h3 span {
    color: #f9a61b
}

.redclr,
.slt_cont .redclr h3 span {
    color: #ed2124
}

.orangeclr h1 {
    padding: 0 0 20px
}

.darkorange h1 {
    padding: 20px 0
}

.redclr {
    padding: 20px 0 0
}

.slt_cont h2 {
    font-size: 18px;
    margin: 20px 0
}

.slt_cont h3 {
    font-size: 16px;
    color: #000;
    display: inline-block;
    width: 100%;
    margin: 5px 0
}

.slt_cont h3 span {
    float: left;
    width: 10%;
    color: #023976
}

.slt_cont h3 div {
    float: left;
    width: 90%
}

.slt_cont h3 div p {
    margin: 0
}

.add_block.cont_mobile_cont {
    margin: 0;
    padding: 20px 20px 0
}

.presence_mobile {
    display: none
}

.contact_tab_iframe iframe {
    height: 450px
}

.cont_addres_list li a,
.locationicon i {
    height: 35px;
    border-radius: 30px;
    cursor: pointer
}

.add_block.cont_mobile_cont h1 {
    margin: 0;
    font-size: 22px
}

.add_block.cont_mobile_cont p {
    font-size: 16px;
    padding: 10px 0;
    margin: 0
}

.contact_tab_iframe {
    padding: 20px 0 0
}

.contact_mobile {
    background: #013976;
    padding: 65px 0 0
}

.cont_addres_list {
    padding: 20px 10px
}

.cont_addres_list li {
    width: 50%;
    display: table;
    padding: 0 5px
}

.cont_addres_list li a.active:after {
    content: "";
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #f9a61a;
    top: 100%;
    left: 44%
}

.cont_addres_list li a.active {
    background: #f9a61a;
    color: #fff
}

.cont_addres_list li a {
    color: #013975;
    background: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
    position: relative
}

.contact_mobile,
.vbground p {
    display: none
}

.googlemap {
    position: absolute;
    width: 100%
}

.add_block.borderbtm {
    border-bottom: 2px dotted #ccc;
    padding-bottom: 15px
}

.add_block {
    margin-top: 20px;
    position: relative
}

.locationicon {
    position: absolute;
    right: 0;
    top: -50px;
    margin: 0 !important
}

.footer,
.inner_sec,
.roundwrap {
    position: relative
}

.locationicon a {
    background: inherit;
    padding: 0
}

.locationicon i {
    background: #fff;
    width: 35px;
    font-size: 20px;
    padding: 6px 0
}

i.activelocation {
    background: #faa61a;
    color: #fff
}

.contact_iframe {
    width: 100%;
    height: 100vh;
    pointer-events: none
}

.footer {
    width: 100%;
    height: auto;
    bottom: inherit;
    left: inherit
}

.bg_grey {
    background: #e2e2e2
}

.roundwrap {
    width: 100%;
    padding: 0 5px
}

.roundwrap>img {
    max-height: 284px
}

.round_num {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 57px;
    right: 0;
    bottom: 0;
    margin: auto
}

.roundholder {
    width: 100%;
    position: relative !important
}

.round_num.first {
    left: 0
}

.round_num.last {
    right: 0
}

.lastcaption p {
    position: relative;
    right: -30px
}

.tab_blue {
    width: 250px;
    background: #ccc;
    color: #030303;
    padding: 0.7rem 0;
    margin: 0 10px
}

.tab_blue:focus,
.tab_blue:hover {
    color: #030303;
    -moz-box-shadow: 0 0 5px 1px #666;
    -webkit-box-shadow: 0 0 5px 1px #666;
    box-shadow: 0 0 5px 1px #666
}

.tab_blue.active,
.tab_blue.active:focus,
.tab_blue.active:hover {
    color: #fff;
    background: #013976
}

.land_car {
    background: #fff;
    margin: 0 0 20px
}

.land_car p {
    display: none !important;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.land_car h1 {
    height: 39px;
    min-height: 150px
}

.right_link {
    position: absolute;
    width: 50px;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
    font-size: 2rem
}

.land_car>a,
.land_car>a:focus,
.land_car>a:hover {
    color: #030303
}

.nav-pills {
    margin: 0 -10px
}

.nav-pills .nav-item {
    padding: 0 10px;
    margin-bottom: 20px
}

.nav-pills .nav-link {
    display: block;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    color: #030303;
    background: #ccc
}

.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover {
    color: #030303;
    background: #ddd
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background: #013976
}

.carousel-indicators.roundDots {
    position: relative;
    bottom: inherit;
    margin-top: 20px
}

.carousel-indicators.roundDots li {
    width: 13px;
    height: 13px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer
}

.search_container {
    right: 300px
}

@media (max-width: 1700px) and (min-width: 1366px) {
    .search_container {
        right: 276px
    }
}

@media (max-width: 1366px) and (min-width: 1200px) {
    .tl_icons.nine {
        background-position: -27px -404px
    }
}

â€‹ .carousel-indicators.roundDots .active {
    background-color: #2264b0
}

.bg_spotlight {
    background: url(/img/airports/banner-01.jpg) top center no-repeat;
    background-size: cover;
    height: 597px
}

.lspace {
    letter-spacing: 0.6rem
}

.sec_py {
    padding: 60px 0
}

.energy-asset-pad {
    padding: 30px 0
}

.op-bg-blck {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px !important;
    border-radius: 2px;
    margin: 0 -20px
}

.watchvideo {
    background-color: #f9a61a;
    background-image: url(/img/airports/play.png);
    background-repeat: no-repeat;
    background-position: 95%;
    color: #030303;
    text-transform: uppercase;
    padding: 0.4rem 5rem 0.4rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out
}

.orangebtn,
.whitebtn {
    padding: 0.4rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 25px;
    transition: box-shadow 0.3s ease-in-out;
    color: #030303;
    text-transform: uppercase
}

.watchvideo:focus,
.watchvideo:hover {
    color: #030303;
    background-color: #f9a61a;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6)
}

.orangebtn {
    background-color: #f9a61a;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15)
}

.orangebtn:focus,
.orangebtn:hover {
    color: #030303;
    background-color: #f9a61a;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6)
}

.whitebtn {
    background-color: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15)
}

.whitebtn:focus,
.whitebtn:hover {
    color: #030303;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6)
}

.sicons {
    display: inline-block;
    margin: 0 5px
}

.bg_cyan {
    background: #f3fcfc
}

.bg_business {
    background: url(/img/airports/banner-02.jpg) top center no-repeat;
    background-size: cover;
    height: 486px
}

.ob_box,
.ob_box>span {
    display: block;
    background: #fff
}

.ob_box {
    height: 180px;
    padding: 30px 0 0;
    border-radius: 10px;
    border: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.ob_box>span {
    width: 60px;
    height: 60px;
    margin: 0 auto
}

.ob_box p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 10px 0 0
}

.ob_box.active {
    border: 1px solid #ccc
}

.ob_box.active p {
    color: #ccc
}

.ob_box.airports {
    background: #013976
}

.ob_box.airports span {
    background: url(/img/home/icon-sprite.png) -168px -49px no-repeat
}

.ob_box.active.airports {
    background: #fff
}

.ob_box.active.airports span {
    background: url(/img/home/icon-sprite.png) -83px -49px no-repeat
}

.ob_box.energy {
    background: #ed2124
}

.ob_box.energy span {
    background: url(/img/home/icon-sprite.png) -168px -134px no-repeat
}

.ob_box.active.energy {
    background: #fff
}

.ob_box.active.energy span {
    background: url(/img/home/icon-sprite.png) -83px -134px no-repeat
}

.ob_box.transport {
    background: #f9a61a
}

.ob_box.transport span {
    background: url(/img/home/icon-sprite.png) -168px -220px no-repeat
}

.ob_box.active.transport {
    background: #fff
}

.ob_box.active.transport span {
    background: url(/img/home/icon-sprite.png) -84px -220px no-repeat
}

.ob_box.urban {
    background: #f68121
}

.ob_box.urban span {
    background: url(/img/home/icon-sprite.png) -168px -306px no-repeat
}

.ob_box.active.urban {
    background: #fff
}

.ob_box.active.urban span {
    background: url(/img/home/icon-sprite.png) -84px -306px no-repeat
}

.ob_box.sports {
    background: #e1604b
}

.ob_box.sports span {
    background: url(/img/home/icon-sprite.png) -168px -388px no-repeat
}

.ob_box.active.sports {
    background: #fff
}

.ob_box.active.sports span {
    background: url(/img/home/icon-sprite.png) -83px -388px no-repeat
}

.ob_box.business {
    background: #013976
}

.ob_box.business span {
    background: url(/img/home/icon-sprite.png) -168px -473px no-repeat
}

.ob_box.active.business {
    background: #fff
}

.ob_box.active.business span {
    background: url(/img/home/icon-sprite.png) -82px -474px no-repeat
}

.ob_box.foundation {
    background: #57812f
}

.ob_box.foundation span {
    background: url(/img/home/icon-sprite.png) -168px -559px no-repeat
}

.ob_box.active.foundation {
    background: #fff
}

.ob_box.active.foundation span {
    background: url(/img/home/icon-sprite.png) -83px -559px no-repeat
}

.sf_grid {
    width: 100%;
    height: 204px;
    border: 2px solid #000;
    border-radius: 120px;
    overflow: hidden;
    margin-bottom: 20px
}

.padding_left {
    padding: 0 0 0 70px
}

.padding_left .sf_icon {
    padding: 0 15px 0 0;
    position: relative;
    z-index: 1
}

.padding_left .sf_icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: 133%;
    z-index: -1
}

.padding_right .sf_icon::before,
.pres_view_web::after {
    bottom: 0;
    right: 0;
    top: 0;
    content: ""
}

.padding_right {
    padding: 0 70px 0 0
}

.padding_right .sf_icon {
    padding: 0 0 0 15px;
    position: relative;
    z-index: 1
}

.padding_right .sf_icon::before {
    position: absolute;
    left: 10px;
    margin: auto;
    width: 1px;
    height: 132%;
    z-index: -1
}

.sf_grid.border_blue {
    border: 2px solid #013976
}

.border_blue .sf_icon::before {
    border: 1px solid #013976;
    background: #013976
}

.sf_grid.border_red {
    border: 2px solid #ed2124
}

.border_red .sf_icon::before {
    border: 1px solid #ed2124;
    background: #ed2124
}

.sf_grid.border_orange {
    border: 2px solid #f9a61a
}

.border_orange .sf_icon::before {
    border: 1px solid #f9a61a;
    background: #f9a61a
}

.dropdown_media .form-control,
.mc_box {
    background: #eef2f5
}

.pres_view_web {
    color: #013976;
    display: inline-block;
    position: relative
}

.pres_view_web::after {
    position: absolute;
    left: 0;
    margin: auto auto 0;
    width: 0;
    height: 1px;
    border-bottom: 2px solid #013976;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in
}

.cbluebg,
.cform_row,
.img_pulldown {
    position: relative
}

.pres_view_web.active::after {
    content: "";
    width: 100%
}

.mc_box {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 170px
}

.top_cont_list li {
    margin: 20px 0;
    font-size: 1.4rem;
    line-height: 1.5rem
}

.jumborton {
    background-color: #eef2f5
}

.jheight {
    height: 550px
}

.j_content {
    background: #fff;
    padding: 30px;
    border-radius: 5px
}

.cformbg {
    height: 661px;
    background: url(/img/contact/bottom-banner.jpg) top center no-repeat;
    background-size: cover
}

.cform_row {
    width: 100%;
    margin-bottom: 20px
}

.cform_row .form-control,
.cform_row select.form-control:not([size]):not([multiple]) {
    height: 44px;
    font-size: 1.2rem
}

.cform_row textarea.form-control {
    height: auto;
    resize: none
}

.orangebtn.submit {
    font-size: 1.1rem;
    padding: 0.3rem 2rem
}

.cmap {
    background: url(/img/contact/banner.jpg) top center no-repeat;
    background-size: cover
}

.cbluebg {
    background: #013976;
    padding: 120px 40px 0
}

.add_block p a {
    color: #fff;
    display: block
}

.bgfakeheight {
    height: 250px
}

.bgfakeheight p a {
    color: #030303;
    text-decoration: underline
}

.img_pulldown {
    bottom: -20px;
    z-index: 1
}

.bg_values {
    background: url(/img/working-gmr/banner-02.jpg) top center no-repeat;
    background-size: cover;
    height: 820px
}

.vbground {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 0;
    background: #fff;
    -webkit-box-shadow: inset 0 0 10px 2px #eee;
    -moz-box-shadow: inset 0 0 10px 2px #eee;
    box-shadow: inset 0 0 10px 2px #eee;
    padding: 0 10px
}

.round_cut,
.round_cut_wrap,
.round_full {
    position: absolute;
    right: 0;
    margin: auto;
    bottom: 0;
    left: 0
}

.vbground h1,
.vbground p {
    color: #030303
}

.round_cut_wrap {
    width: 280px;
    height: 230px;
    overflow: hidden;
    top: -90px
}

.round_cut {
    width: 280px;
    height: 280px;
    top: 0
}

.round_full {
    width: 100%;
    height: 100%;
    top: 90px;
    border: 10px solid #000;
    border-radius: 50%
}

.bottm .round_cut,
.bottm .round_full {
    top: inherit;
    bottom: 0
}

.bottm.round_cut_wrap {
    top: inherit;
    bottom: -40px
}

.round_full.round_blue {
    border: 10px solid #013976
}

.round_full.round_orange {
    border: 10px solid #f9a61a
}

.round_full.round_red {
    border: 10px solid #ed2124
}

#vbwrap {
    margin-top: 90px
}

#vbwraptwo {
    margin-top: -45px
}

.vbground.five:focus,
.vbground.five:hover,
.vbground.four:focus,
.vbground.four:hover,
.vbground.one:focus,
.vbground.one:hover,
.vbground.seven:focus,
.vbground.seven:hover,
.vbground.six:focus,
.vbground.six:hover,
.vbground.three:focus,
.vbground.three:hover,
.vbground.two:focus,
.vbground.two:hover {
    background: #999
}

.vbground:focus p,
.vbground:hover p {
    display: block;
    color: #fff;
    font-size: 14px
}

.vbground:focus h1,
.vbground:hover h1 {
    color: #fff
}

.question_block {
    width: 100%;
    margin: 0;
    padding: 40px 0 10px
}

.question_block ol li {
    font-size: 1.2rem;
    margin-bottom: 40px;
    padding-left: 40px
}

.question_block span {
    margin-top: 10px
}

.anc_blue {
    color: #013976;
    display: inline-block
}

.gmrvideo {
    height: 620px;
    background: url(/img/media/GMR-01.png) center center no-repeat;
    background-size: cover;
    display: block;
    padding: 30px
}

.blue_profile,
.orange_profile {
    height: 300px;
    padding: 30px;
    width: 100%
}

.orange_profile {
    background: url(/img/media/yellow.png) center center no-repeat;
    background-size: cover
}

.media_link {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block
}

.media_link .text {
    margin: 0 0 0 10px;
    border-bottom: 1px solid #fff
}

.media_link:focus,
.media_link:hover {
    color: rgba(255, 255, 255, 0.7)
}

.blue_profile {
    background: url(/img/media/blue.png) center center no-repeat;
    background-size: cover;
    margin-top: 20px
}

.media_link_small {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block
}

.media_link_small .text {
    margin: 0 0 0 10px;
    border-bottom: 1px solid #fff
}

.media_link_small:focus,
.media_link_small:hover {
    color: rgba(255, 255, 255, 0.7)
}

.bp_dowloadable p {
    margin: 0
}

.bg_ccc {
    background: #ccc
}

.bg_vision {
    height: 595px;
    background: url(/img/foundation-landing/vision.jpg) center center no-repeat;
    background-size: cover
}

.ob_box {
    width: 100%
}

.sec_in_home {
    position: sticky;
    top: 0;
    left: 0
}

.bg_white {
    background: #fff
}

ul.top_cont_list {
    padding: 0 100px
}

.roundwrap p {
    line-height: 22px
}

.sf_grid p {
    padding-left: 10px
}

.sec_in_home h1 {
    line-height: 70px
}

.bg_groupholdings {
    background: url(/img/group-holdings/banner.jpg) top center no-repeat;
    background-size: cover
}

.gh_caption {
    background: #fff;
    padding: 20px 18px;
    height: 150px;
    position: relative
}

.botm_btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%
}

.profilegrids .col>div {
    border-radius: 5px;
    overflow: hidden
}

.bg_groupholdings.inner {
    padding: 200px 0 0;
    background-size: contain
}

.gfd_img {
    background: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0
}

.gfd_content {
    background: #fff;
    padding: 30px;
    border-radius: 0 0 10px 10px
}

.ghd_slick .slick-next:before,
.ghd_slick .slick-prev:before {
    display: none
}

.ghd_slick .slick-next,
.ghd_slick .slick-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 0 #000;
    -moz-box-shadow: 0 0 10px 0 #000;
    box-shadow: 0 0 10px 0 #000;
    top: 300px
}

.ghd_slick .slick-prev {
    left: -20px;
    background: url(/img/group-holdings/arroe-02.png) center center no-repeat #fff
}

.ghd_slick .slick-next {
    right: -20px;
    background: url(/img/group-holdings/arroe-01.png) center center no-repeat #fff
}

.gfd_others,
.gfd_right>div {
    background: rgba(255, 255, 255, 0.2)
}

.ghd_slick .slick-next:hover,
.ghd_slick .slick-prev:hover {
    -webkit-box-shadow: 0 0 10px 1px #000;
    -moz-box-shadow: 0 0 10px 1px #000;
    box-shadow: 0 0 10px 1px #000
}

.gfd_right>div {
    padding: 40px 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px
}

.gfd_others {
    padding: 25px 20px;
    display: block;
    color: #fff;
    margin-bottom: 5px
}

.gfd_others:focus,
.gfd_others:hover {
    color: #fff
}

.gfd_others>p {
    margin: 0
}

.gfd_others.its_on {
    display: none
}

.gfdrowmai {
    margin-top: 20px
}

.new_fs_bg {
    width: 100%;
    height: 563px;
    background: url(/img/airports/airport-fact-sheet.png) top center no-repeat;
    background-size: cover;
    margin: 0;
    position: relative
}

.new_fs_grid {
    width: 25%;
    float: left;
    position: relative;
    height: 100%
}

.new_fs_grid .numb {
    font-size: 38px;
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%
}

.new_fs_grid .txts {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 22px;
    color: #666;
    line-height: 24px
}

.new_fs_grid.first .numb {
    left: -10px
}

.fact_sheet.new h1 {
    position: relative;
    top: 100px;
    z-index: 1
}

.vvbwrap {
    background: url(/img/vision-values/valueandbeliefs.png) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 505px
}

.vbground {
    position: absolute;
    top: 0;
    left: 0
}

.vbground.one {
    top: 80px;
    left: 35px
}

.vbground.two {
    top: 80px;
    left: 75px
}

.vbground.three {
    top: 80px;
    left: 110px
}

.vbground.four {
    top: 80px;
    left: 150px
}

.vbground.five {
    top: 295px;
    left: 65px
}

.vbground.six {
    top: 295px;
    left: 95px
}

.vbground.seven {
    top: 295px;
    left: 125px
}

.vbground h1 {
    font-size: 1.2rem
}

.vidbox {
    background: #000;
    border: 0 solid #f68121;
    position: fixed;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}

.vidbox video {
    width: 100%;
    height: auto
}

.vidbox.active {
    width: 100%;
    height: 100%;
    border: 5px
}

.closevid,
.closevid1 {
    display: none;
    color: #ed2124;
    font-size: 1rem;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background: 0 0;
    border-radius: 5px;
    cursor: pointer
}

.vidbox iframe {
    width: 100%;
    height: 100%;
    position: relative
}

.media_link>span:first-child {
    width: 24px
}

.media_link .text,
.media_link_small .text {
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space: nowrap
}

.scroller_media {
    position: relative;
    overflow: auto;
    height: 190px
}

.vidbox.fix {
    position: fixed
}

@media screen and (min-width: 1900px) {
    .million_txt {
        top: 215px !important;
        font-size: 22px !important
    }
}

@media screen and (max-width: 1899px) {
    .newfsbgforbusiness .new_fs_grid.first .numb {
        left: 70px
    }
    .newfsbgforbusiness .new_fs_grid.second .numb {
        left: 45px
    }
    .newfsbgforbusiness .new_fs_grid.three .numb {
        left: 20px
    }
    .new_fs_bg.newfsbgforbusiness .new_fs_grid .numb {
        top: 115px
    }
    .newfsbgforbusiness .new_fs_grid.three .numb.plussign {
        left: 75px â€‹ !important
    }
    .newfsbgforbusiness .new_fs_grid.four .numb {
        left: 2px
    }
    .new_fs_bg.newfsbgforbusiness .new_fs_grid .txts {
        bottom: -35px;
        left: 15px
    }
    .newfsbgforbusiness .new_fs_grid.five .numb {
        left: -9px
    }
    .newfsbgforbusiness .new_fs_grid.six .numb {
        left: 23px
    }
    .fsp-gpbold {
        font-size: 3rem !important
    }
    .fsp-gpmedium {
        font-size: 2.2rem !important
    }
    .other_businesses_slick.slick-slider {
        width: 250px
    }
    .ob_slick {
        width: 760px
    }
    .ob_box p {
        font-size: 1.4rem
    }
    .sec_in_home h1 {
        line-height: 50px
    }
    .bg_groupholdings.inner {
        padding: 120px 0 0
    }
    .new_fs_bg {
        height: 475px
    }
    .new_fs_grid .numb {
        top: 210px
    }
    .new_fs_grid.first .numb {
        left: 8px
    }
    .new_fs_grid.second .numb {
        left: 4px
    }
    .new_fs_grid.three .numb {
        left: -6px
    }
    .million_txt {
        top: 255px !important;
        font-size: 22px !important
    }
    .new_fs_grid.four .numb {
        left: -15px
    }
    .vvbwrap {
        height: 485px
    }
    .vbground.one {
        top: 60px;
        left: 18px
    }
    .vbground.two {
        top: 60px;
        left: 50px
    }
    .vbground.three {
        top: 60px;
        left: 83px
    }
    .vbground.four {
        top: 60px;
        left: 115px
    }
    .vbground.five {
        top: 250px;
        left: 45px
    }
    .vbground.six {
        top: 250px;
        left: 70px
    }
    .vbground.seven {
        top: 250px;
        left: 95px
    }
}

@media screen and (max-width: 1599px) {
    .fsp-gpbold {
        font-size: 2.8rem !important
    }
    .fact_sheetNew .roudnwrap_padding .roundwrap p {
        font-size: 1rem
    }
    .fsp-gpmedium {
        font-size: 2.2rem !important
    }
    .top_cont_list li {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
    .gfd_right>div {
        padding: 30px 15px;
        margin-bottom: 10px
    }
    .gfd_others {
        padding: 20px
    }
    .orangebtn {
        font-size: 1rem
    }
    .profilegrids {
        margin-top: 20px !important
    }
    .round_num {
        height: 35px
    }
    .jheight {
        height: 450px
    }
    .new_fs_bg {
        height: 409px
    }
    .new_fs_grid .txts {
        bottom: 50px;
        font-size: 18px;
        line-height: 20px
    }
    .new_fs_grid .numb {
        top: 177px;
        font-size: 30px
    }
    .new_fs_grid.first .numb,
    .new_fs_grid.second .numb {
        left: 3px
    }
    .new_fs_grid.third .numb {
        left: -3px
    }
    .new_fs_grid.four .numb {
        left: -9px
    }
    .vvbwrap {
        height: 418px
    }
    .vbground {
        width: 180px;
        height: 180px
    }
    .vbground.one {
        top: 52px;
        left: 15px
    }
    .vbground.two {
        top: 52px;
        left: 42px
    }
    .vbground.three {
        top: 52px;
        left: 70px
    }
    .vbground.four {
        top: 52px;
        left: 97px
    }
    .vbground.five {
        top: 220px;
        left: 40px
    }
    .vbground.six {
        top: 220px;
        left: 60px
    }
    .vbground.seven {
        top: 220px;
        left: 80px
    }
    .vbground h1 {
        font-size: 1rem
    }
    .vbground p {
        font-size: 14px
    }
    .million_txt {
        top: 215px !important
    }
}

@media screen and (max-width: 1399px) {
    .newfsbgforbusiness .new_fs_grid.first .numb {
        left: 15px
    }
    .new_fs_bg.newfsbgforbusiness .new_fs_grid .txts {
        left: 15px
    }
    .newfsbgforbusiness .new_fs_grid.second .numb {
        left: 13px
    }
    .newfsbgforbusiness .new_fs_grid.three .numb {
        left: 5px
    }
    .newfsbgforbusiness .new_fs_grid.three .numb.plussign {
        left: 50px !important
    }
    .newfsbgforbusiness .new_fs_grid.four .numb {
        left: 12px
    }
    .newfsbgforbusiness .new_fs_grid.five .numb {
        left: 22px
    }
    .newfsbgforbusiness .new_fs_grid.six .numb {
        left: 23px
    }
    .cbluebg h1 {
        font-size: 18px
    }
    .cbluebg p {
        font-size: 15px
    }
    .cont_addres_list li {
        width: 33.33%
    }
    .cbluebg {
        background: #013976;
        padding: 80px 40px 40px;
        height: 100vh !important
    }
    .botm_btn {
        bottom: 10px;
        left: 10px
    }
    .botm_btn a {
        font-size: 13px
    }
    .fsp-gpbold {
        font-size: 2.8rem !important
    }
    .fsp-gpmedium {
        font-size: 2.2rem !important
    }
    .ob_box p {
        font-size: 1.2rem
    }
    .nav-pills .nav-link {
        font-size: 0.8rem
    }
    .sec_in_home h1 {
        line-height: 40px
    }
    .gfd_right>div {
        padding: 20px 15px
    }
    .gfd_others {
        padding: 15px
    }
    .watchvideo {
        font-size: 1rem
    }
    .sec_py {
        padding: 60px 0
    }
    .jheight {
        height: 390px
    }
    .j_content {
        padding: 20px
    }
    .media_reports .nav-pills {
        margin: 0 -10px 10px !important
    }
    .media_reports .tab-pane .row.mt-5 {
        margin-top: 30px !important
    }
    .gh_caption {
        padding: 20px 12px
    }
    .round_cut {
        width: 200px;
        height: 200px
    }
    .round_cut_wrap {
        width: 200px;
        height: 170px
    }
    .bg_values {
        height: 580px
    }
    .bottm.round_cut_wrap {
        bottom: -25px
    }
    #vbwraptwo {
        margin-top: -30px
    }
    .round_num {
        height: 30px
    }
    .intro_content h1.fs-2 {
        font-size: 1.8rem
    }
    .bg_business {
        height: 386px
    }
    .round_num.first {
        left: 0
    }
    .round_num.last {
        right: 0
    }
    .new_fs_bg {
        height: 389px
    }
    .new_fs_grid .numb {
        top: 168px
    }
    .new_fs_grid.first .numb,
    .new_fs_grid.second .numb {
        left: 2px
    }
    .new_fs_grid.three .numb {
        left: -3px
    }
    .new_fs_grid.four .numb {
        left: -7px
    }
    #vbwrap {
        margin-top: 40px
    }
    .vvbwrap {
        height: 396px
    }
    .vbground {
        width: 160px;
        height: 160px
    }
    .vbground.one {
        top: 54px;
        left: 20px
    }
    .vbground.two {
        top: 54px;
        left: 45px
    }
    .vbground.three {
        top: 54px;
        left: 72px
    }
    .vbground.four {
        top: 54px;
        left: 98px
    }
    .vbground.five {
        top: 201px;
        left: 44px
    }
    .vbground.six {
        top: 201px;
        left: 62px
    }
    .vbground.seven {
        top: 201px;
        left: 81px
    }
    .vbground h1 {
        margin-bottom: 0;
        font-size: 0.9rem
    }
    .vbground p {
        line-height: 16px;
        font-size: 14px
    }
    .logo_a {
        width: 80px
    }
    .logo_nav {
        width: 200px;
        height: 66px;
        padding: 12px 25px 10px 13px
    }
    .logo_nav>span {
        padding: 0 20px
    }
    .nav_one>li>a {
        font-size: 1rem;
        display: block
    }
    .hamburger-box,
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 30px
    }
    .hamburger-inner::after {
        width: 15px
    }
    .hamburger--spin.is-active .hamburger-inner::after {
        width: 30px
    }
    .logo_nav div button+span {
        font-size: 0.65rem
    }
    .nav_two>li>a {
        display: block;
        font-size: 1rem
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .bg_groupholdings.inner {
        background-size: 100% 800px
    }
    .padimg span {
        white-space: normal
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .padimg span {
        white-space: normal;
        font-size: 0.8rem;
        padding: 10px 0;
        width: 100%
    }
    .bg_groupholdings {
        height: auto !important;
        padding: 4rem 0 3rem !important
    }
    .contact_mobile {
        display: block
    }
    .inner_section .inner_sec {
        display: none
    }
    .cmap .col-sm-4 {
        width: 50% !important;
        display: block;
        flex: inherit;
        max-width: inherit
    }
    .cbluebg {
        height: auto !important;
        padding: 120px 40px 30px;
        position: relative
    }
    .mc_box_pr {
        height: 160px !important
    }
    .mc-common .mc_box {
        height: auto !important
    }
    .mc_box_inner .fs-pr {
        font-size: 15px !important
    }
    .botm_btn {
        left: 5px
    }
    .gh_caption {
        height: 180px
    }
    .botm_btn a {
        font-size: 12px
    }
    .profilegrids .col.gridpad {
        width: 20% !important;
        float: left;
        padding: 10px 5px !important
    }
    .row.mt-5.rowmargin.profilegrids {
        margin: 0 !important;
        display: block
    }
    .airport-video-txt {
        top: 50px !important
    }
    .fact_sheet.new h1 {
        top: 35px !important
    }
    .new_fs_bg {
        height: 258px !important
    }
    .new_fs_grid .numb {
        top: 102px !important
    }
    .new_fs_grid .txts {
        bottom: 10px !important;
        font-size: 12px !important
    }
    .million_txt {
        top: 140px
    }
    .top_cont_list li {
        font-size: 0.9rem;
        line-height: 1.5rem
    }
    ul.top_cont_list {
        padding: 0 100px !important
    }
    .sec_business_title.busines_style_update {
        bottom: 33px !important;
        height: 214px !important
    }
}

@media screen and (max-width: 767px) {
    .bg_car_ener_card_1,
    .bg_car_ener_card_10,
    .bg_car_ener_card_11,
    .bg_car_ener_card_12,
    .bg_car_ener_card_13,
    .bg_car_ener_card_14,
    .bg_car_ener_card_15,
    .bg_car_ener_card_16,
    .bg_car_ener_card_17,
    .bg_car_ener_card_18,
    .bg_car_ener_card_19,
    .bg_car_ener_card_2,
    .bg_car_ener_card_20,
    .bg_car_ener_card_21,
    .bg_car_ener_card_22,
    .bg_car_ener_card_23,
    .bg_car_ener_card_25,
    .bg_car_ener_card_26,
    .bg_car_ener_card_3,
    .bg_car_ener_card_4,
    .bg_car_ener_card_5,
    .bg_car_ener_card_6,
    .bg_car_ener_card_7,
    .bg_car_ener_card_8,
    .bg_car_ener_card_9,
    .bg_car_ener_cardtr_13,
    .bg_car_ener_cardtr_14,
    .bg_car_ener_cardtr_15,
    .bg_car_ener_cardtr_16,
    .bg_car_ener_cardtr_17,
    .bg_car_ener_cardtr_18,
    .bg_car_ener_cardtr_19,
    .bg_car_ener_cardtr_20,
    .bg_car_ener_cardtr_21,
    .bg_car_ener_cardtr_22,
    .bg_car_ui_card_1,
    .bg_car_ui_card_2 {
        background-size: initial !important
    }
    .scroller_media {
        width: 100% !important
    }
    .quotes_style-one:before {
        margin: 0 0 0 -16px
    }
    .fsp-gpmedium {
        font-size: 21px !important
    }
    .group-quotes:before {
        font-size: 15px
    }
    .group-quotes:after {
        margin: 0;
        font-size: 15px
    }
    .question_block ol li {
        padding-left: 10px
    }
    .img_pulldown {
        bottom: 0;
        margin-bottom: 15px
    }
    .cform_row {
        margin-top: 15px !important;
        text-align: center !important
    }
    ul.top_cont_list>li {
        font-size: 0.9rem
    }
    .quotes_style:before {
        position: static;
        margin: 0 10px 0 0
    }
    .ghd_slick .slick-next,
    .ghd_slick .slick-prev {
        width: 40px;
        height: 40px;
        background-size: 35% !important
    }
    .gfd_others,
    .gfd_right>div {
        background: rgba(255, 255, 255, 1)
    }
    .gfd_right>div {
        color: #000
    }
    .gfd_others {
        color: #000 !important
    }
    .grp-backbtn {
        bottom: -12px !important;
        padding: 6px 30px !important
    }
    .disp_tb_cl.padbx_L,
    .gridpad.gridpad_style {
        padding: 0
    }
    .padimg {
        position: static;
        left: 0;
        background-size: 100% 65% !important
    }
    .padimg span {
        white-space: normal;
        background: inherit;
        color: #013976 !important;
        padding: 0
    }
    .nomargin {
        margin: 0
    }
    .land_car.contact_bx_height {
        display: block;
        height: auto
    }
    .param_logo {
        top: 0;
        left: 4%
    }
    .param_logo img {
        width: 75px
    }
    .overview_margin {
        margin: 1rem 0 0
    }
    .media_inner {
        padding: 40px 15px
    }
    .media_inner h2 {
        font-size: 1.1rem
    }
    table.media_table td {
        padding: 10px;
        font-size: 12px
    }
    table.media_table ul {
        margin: 0;
        padding: 0 15px;
        font-size: 12px
    }
    table.media_table p {
        font-size: 12px;
        margin: 0 0 5px !important
    }
    .media_inner p {
        font-size: 15px;
        line-height: 22px
    }
    .contact_mobile {
        display: block
    }
    .presence_Desktop {
        display: none
    }
    .presence_mobile {
        display: block;
        position: relative;
        z-index: 9;
        top: 10px
    }
    .cont_addres_list li {
        width: 50% !important
    }
    .inner_section .inner_sec {
        display: none
    }
    .cformbg {
        height: auto
    }
    .cform_row .form-control,
    .cform_row select.form-control:not([size]):not([multiple]) {
        height: 50px;
        font-size: 16px
    }
    .pr-bg-two {
        height: 100vh
    }
    .bg_groupholdings,
    .mc-common .mc_box,
    .mc_box_pr {
        height: auto !important
    }
    .map-banner-div {
        top: 0 !important
    }
    .mc_box_inner .fs-pr {
        font-size: 15px !important
    }
    .sec_pyprtwo {
        padding: 5px 0 0 !important
    }
    .mc_box_pr {
        padding: 15px 20px !important
    }
    .mc-common .col-sm-4.gridpad {
        padding: 10px !important
    }
    .bg_partners .row .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .sec_business_title p {
        font-size: 1rem
    }
    .bg_groupholdings {
        padding: 4rem 0 3rem !important
    }
    .profilegrids .col.gridpad {
        width: 50% !important;
        float: left;
        padding: 10px 5px !important
    }
    .row.mt-5.rowmargin.profilegrids {
        margin: 0 !important;
        display: block
    }
    .bg_corporate .row .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .nav_two>li>a {
        display: block
    }
    .sittabs {
        display: none
    }
    .overlay {
        padding: 80px 10px 0;
        width: 200px !important;
        left: -200px
    }
    .dropd_top {
        position: absolute;
        right: 5px
    }
    .airport-video-section video {
        margin-top: 0 !important
    }
    .sec_py {
        padding: 20px 0
    }
    .orangebtn,
    .padding_left,
    .padding_right {
        padding: 10px
    }
    .intro_content h1.fs-2 {
        font-size: 1.4rem;
        line-height: 25px
    }
    .intro_content .mt-5 {
        margin-top: 20px !important
    }
    .fact_sheet_container {
        overflow-x: auto;
        width: 100%
    }
    .new_fs_bg {
        height: 389px;
        width: 1110px
    }
    .nav-pills .nav-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .nav-pills {
        -ms-flex-align: center !important;
        align-items: center !important;
        margin-bottom: 0 !important
    }
    .dropdown_media,
    .mc_box,
    .spot_light .mx-4 {
        margin-bottom: 10px
    }
    .land_car h1 {
        height: auto;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }
    .bg_spotlight {
        height: 350px
    }
    .lspace {
        letter-spacing: 0
    }
    .spot_light .mx-4 {
        margin-left: 10px !important;
        margin-right: 10px !important
    }
    .ob_slick {
        width: 100%
    }
    .other_businesses_slick.slick-slider {
        width: 70%;
        overflow: hidden;
        position: static
    }
    .fact_sheet.new h1 {
        top: 70px
    }
    .new_fs_grid .txts {
        font-size: 16px
    }
    .sec_in_home h1 {
        line-height: 30px
    }
    .fs-2 {
        line-height: 25px
    }
    .sicons {
        display: inline-block;
        margin: 0 1px;
        width: 25px
    }
    .btn_wrap .mr-3 {
        margin-right: 5px !important
    }
    .orangebtn {
        font-size: 14px
    }
    .intro_content .my-5 {
        margin-top: 20px !important;
        margin-bottom: 20px !important
    }
    ul.top_cont_list>li {
        width: 100%
    }
    .fslength {
        width: 1110px
    }
    .lastcaption p {
        position: relative;
        right: 0
    }
    .salient_features .mt-5 {
        margin-top: 1rem !important
    }
    .sf_grid {
        width: 100%;
        height: auto;
        border-radius: 20px
    }
    .padding_left .sf_icon,
    .padding_right .sf_icon {
        padding: 0
    }
    .btn_wrap>div {
        margin-bottom: 10px
    }
    .sec_in_home .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .jheight {
        height: auto;
        margin-bottom: 0;
        background: 0 0
    }
    .j_content {
        margin: 100px 0 0
    }
    .bg_careers {
        height: 210px !important;
        margin: 80px 0 0
    }
    .inner_sec {
        padding-bottom: 20px
    }
    .sec_in_home .col-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .question_block ol li {
        font-size: 16px;
        margin-bottom: 20px
    }
    .fjobcont .pl-5 {
        padding-left: 0 !important
    }
    .fjobcont .px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        word-wrap: break-word
    }
    .fjobcont .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important
    }
    .blue_profile,
    .orange_profile {
        width: 100%;
        height: auto;
        padding: 20px
    }
    .fjobcont .mt-5 {
        margin-top: 20px !important
    }
    .vvbwrap {
        background: 0 0;
        height: auto
    }
    .vbground {
        position: relative;
        top: inherit !important;
        left: inherit !important;
        right: inherit !important;
        bottom: inherit !important;
        margin: 0 auto 20px
    }
    .bg_values {
        height: auto
    }
    #vbwraptwo {
        margin-top: 0
    }
    .media_kit .col-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .media_link {
        color: #fff;
        font-size: 14px
    }
    .media_link span {
        width: 80%
    }
    .media_link span:first-child {
        width: 20px
    }
    .media_link_small span {
        width: 80%
    }
    .media_link_small span:first-child {
        width: 20px
    }
    .gmrvideo {
        height: 250px;
        padding: 10px;
        margin: 20px 0 0
    }
    .inner_sec .col-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .airport-video-txt {
        top: inherit !important;
        position: relative !important
    }
    .video-bg-txt-sec .col-9 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .airport-video-txt .white {
        color: #030303 !important
    }
    .airport-video-txt .btn_wrap.mt-5 {
        margin-top: 10px !important
    }
    .scroller_media {
        overflow: auto;
        height: auto
    }
    .vidbox video {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto
    }
    .search_container {
        right: 45px !important
    }
    .search_btn {
        width: 35px;
        height: 35px;
        background-position: -349px -59px
    }
    .op-bg-blck {
        background-color: transparent
    }
    .sec_in_home .container::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        z-index: -1
    }
    .search_container.active .form-control {
        width: 245px
    }
    .dropd_top,
    .vision-left:after {
        display: block !important;
        width: 30px !important;
        top: 18px !important
    }
    .dropdown-toggle::after,
    .dropdownformobile,
    .search_container.float-left {
        display: none
    }
    .filter-option-inner-inner {
        font-size: 0
    }
    dropdown-menu.open.show {
        background: #fff;
        top: 20px
    }
    .bootstrap-select .dropdown-menu li a {
        width: 200px;
        line-height: initial !important;
        padding: 5px 15px;
        background: 0 0;
        box-shadow: none;
        color: #000 !important;
        outline: 0
    }
    .bootstrap-select.btn-group .dropdown-menu li a:focus,
    .bootstrap-select.btn-group .dropdown-menu li a:hover,
    .dropdown-menu.inner li.selected.active {
        background: #004181 !important;
        color: #fff !important
    }
    .dropdown-menu.inner li.selected.active a span.text {
        color: #fff !important
    }
    button.btn.dropdown-toggle.bs-placeholder.btn-default {
        width: 10px !important;
        background: #fff !important;
        position: absolute;
        left: 20px;
        top: -13px;
        height: 40px !important
    }
    .bootstrap-select.btn-group .dropdown-menu,
    .dropdown-menu.open.show {
        background: #fff;
        top: 15px !important
    }
    .dropdown-menu.inner li a,
    .dropdown-menu.inner li:first-child a {
        padding-left: 15px;
        font-size: 13px
    }
    .filter-option {
        background: 0 0
    }
    .filter-option:after {
        width: 17px;
        height: 45px;
        background: url(/img/dot-icon.png) center no-repeat;
        background-size: contain;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        box-shadow: 0 0 20px 0 #888;
        border-radius: 36px
    }
    button.btn.dropdown-toggle.btn-default {
        background: 0 0;
        color: #fff !important;
        text-transform: initial !important;
        font-weight: 400 !important;
        font-style: normal !important;
        font-size: 1rem !important;
        height: 45px !important;
        outline: 0;
        width: 17px !important;
        padding: 0;
        position: absolute;
        left: 5px;
        top: -15px
    }
    select.form-control:not([size]):not([multiple]) {
        display: none !important
    }
    .dropdown-menu.inner li:first-child a {
        padding-left: 5px;
        font-size: 13px;
        font-weight: 800
    }
    .dropdown-menu.open.show {
        background: #fff;
        top: 15px !important;
        height: auto;
        overflow-y: scroll !important
    }
}

.fact_sheet {
    display: none
}

.air_drdw {
    padding: 5px 15px 5px 30px !important;
    text-transform: initial !important
}

.air_drdwn_head {
    font-family: gilroybold !important
}

.table-tenders thead tr {
    background-color: #003975;
    color: #fff
}

.table-tenders tbody tr:nth-child(odd) {
    background-color: #141b35
}

.table-tenders tbody tr:nth-child(even) {
    background-color: #222e48
}

.table-tenders tbody tr td {
    color: #fff;
    font-size: 14px;
    vertical-align: middle
}

.table-careers tbody tr td {
    vertical-align: middle
}

.table-careers ul li {
    text-align: left;
    margin: 5px 0
}

.job-h3 {
    text-align: left;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 700
}

.lg-show {
    display: flex
}

.mob-show {
    display: none
}

@media screen and (max-width: 767px) {
    .lg-show {
        display: none
    }
    .mob-show {
        display: flex
    }
    .table-tab-ggial li {
        max-width: 40% !important
    }
    select.form-control:not([size]):not([multiple]) {
        display: block !important
    }
    .Enquiry span:first-child {
        width: 100%;
        display: block
    }
    .radio_bu {
        display: inline-block
    }
    .nav-pills .nav-link {
        font-size: 12px
    }
    .nav-pills .nav-item {
        padding: 0 1px;
        margin-bottom: 3px
    }
    .mb-slck {
        width: 80%
    }
    .mb-slck .gridpad {
        flex: 0 0 100%;
        max-width: 100%
    }
    .mb-slck li .act-col {
        color: #fff !important;
        background: #013976 !important
    }
    .mb-slck li a {
        color: #333 !important;
        background: #ccc !important
    }
}

@media screen and (max-width: 1280px) {
    .search_container {
        right: 275px
    }
    ul.top_cont_list>li {
        width: 525px
    }
}

.table-code td a {
    cursor: pointer
}

.tender-popup .modal-dialog {
    max-width: 550px
}

.tender-popup .modal-dialog .modal-content {
    padding: 35px 35px;
    text-align: center
}

.tender-popup .modal-dialog .modal-content h2 {
    color: #013976;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 10px
}

.tender-popup .modal-dialog .modal-content .coronapop {
    width: 100%;
    display: flex;
    flex-direction: column
}

.tender-popup .modal-dialog .modal-content .coronapop input {
    width: 100%;
    height: 50px;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
    background: transparent;
    padding: 0px 20px;
    font-size: 17px;
    margin-bottom: 23px
}

.tender-popup .modal-dialog .modal-content .coronapop button {
    width: 220px;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    background-color: #013976;
    border: 1px solid #013976;
    margin: 0px auto;
    display: table;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear
}

.tender-popup .modal-dialog .modal-content .coronapop button:hover {
    padding: 12px 15px;
    background: transparent;
    border: 1px solid #013976;
    color: #013976;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear
}

.tender-popup .modal-dialog .modal-content .coronapop span {
    font-size: 13px;
    color: #000;
    padding-top: 20px;
    text-align: left
}

.tender-popup .modal-dialog .modal-content a {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    top: 7px;
    right: 7px
}

@media only screen and (max-width: 767px) {
    .tender-popup .modal-dialog .modal-content {
        padding: 25px 20px
    }
    .tender-popup .modal-dialog .modal-content h2 {
        font-size: 18px;
        line-height: 20px
    }
    .tender-popup .modal-dialog .modal-content .coronapop input {
        font-size: 15px;
        margin-bottom: 18px
    }
    .tender-popup .modal-dialog .modal-content .coronapop button {
        padding: 10px 15px;
        font-size: 16px
    }
    .tender-popup .modal-dialog .modal-content a {
        font-size: 16px;
        width: 25px;
        height: 25px
    }
}

.gems-tab-parent .nav-pills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gems-tab-parent .nav-pills .nav-item {
    padding: 0px;
    margin-bottom: 0px;
}

.gems-tab-parent .nav-pills .nav-link {
    font-size: 20px;
    width: 250px;
    height: 40px;
    color: #000000;
    padding: 0px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.gems-tab-parent .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000000;
    background: #F29313;
}